{% extends "base.html" %}

{% block title %}Auctioneer Index{% endblock %}
{% block heading %}{% endblock %}
{% block content %}


<h4>Item Name: </h4>


<p>{{ id.item_name }}</p>

<h4>Bid History: </h4>

{% for datum in data %}
    <li>${{ datum.bid_price }}</li>
{% endfor %}
<br />

    {% if id.expired == True %}

        <li><b>Sale Price: </b>${{ data2.bid_price }}</li>
        <li><b>Won by: </b>{{ data2.user_id }}</li>

        <p>This auction has <b>expired!</b></p>

    {% else %}
        <p>This auction is <b>ongoing</b></p>
{% endif %}




{% endblock %}