
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- navigation menu-->
    <ul>
        {% if current_user.role == 'Admin' %}
            <li><a href="{{ url_for('admin') }}">Admin</a></li>
        {% endif %}
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.role == 'Admin' or current_user.role == 'Auctioneer' %}
            <li><a href="{{ url_for('auctioneer') }}">Auctioneer</a></li>
        {% endif %}
        {% if current_user.role == 'Bidder' or current_user.role == 'Admin' %}
            <li><a href="{{ url_for('bidder') }}">Bidders</a></li>
        {% endif %}
        <li><a href="{{ url_for('items_index') }}">Homes On Auction</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Create Bidding Account</a></li>


    </ul>

    <h1>{% block heading %}{% endblock %}</h1>
    <p>{% block content %}{% endblock %}</p>
</body>
</html>