{% extends "base.html" %}

{% block title %}Bidder Info{% endblock %}
{% block heading %}{% endblock %}

{% block content %}
<h4>Your active bids:</h4>
<ul>
    {% for datum in data %}
        <li>Item ID: {{ datum.item_id }} --- ${{ datum.bid_price }}</li>
    {% endfor %}
</ul>

<h4>Bids won:</h4>

<ul>
    {% for datum in data %}
            {% if datum.items.expired == True %}
                <li>{{ datum.items.item_name }}</li>
            {% endif %}
    {% endfor %}
</ul>

{% endblock %}
