{% extends "base.html" %}


{% block title %}Item Page{% endblock %}

{% block content %}
<p>Bid History:</p>

    {% for info in data %}
    <p>
            Bid ID: #{{ info.bid_id }}
            Bidder ID: {{ info.user_id }}
            ${{ info.bid_price }}

        </p>
    {% endfor %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.bid.label }} {{form.bid}}
    {{ form.submit }}
</form>

{% for error in form.errors %}
    <li>{{ error }}</li>
{% endfor %}


{% endblock %}